body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    width: 575px;
    height: 385px;
    margin: auto; 
}
.score-container {
    font-family: "Cursed Timer ULiL"; 
    height: 120px;
    width: 155px;
    background: #080001;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

span {
    color: #F94F6D;
    font-size: 90px;
    margin-bottom: -15px;
}

h3 {
    font-size: 40px;
    color: #EEEEEE;
    margin: 68px 0 21px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

button {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    background: none;
    padding: 9px 7px;
    font-family: "Cursed Timer ULiL"; 
}
